<div class = "container">
	<div class="row">
		<div class="col-sm-4 col-sm-offset-4">
			<h1>Sign up!</h1>
			<%= form_for @user, url: '/users' do |f| %>
				<%= f.label "Username" %>
			  <%= f.text_field :name, class: "form-control", placeholder:"Username" %>
			  <%= f.label :email %>
			  <%= f.text_field :email, class: "form-control", placeholder: :email, type: "email" %>
			  <%= f.label :password %>
			  <%= f.password_field :password, class: "form-control", placeholder: :password %>
			   <%= f.label :password_confirmation %>
			   <%= f.password_field :password_confirmation, class: "form-control", placeholder: :password_confirmation  %>
			  <%= f.submit "Submit", class: "btn btn-default", id: "submit" %>
			<% end %>
		</form>
		</div>
	</div>
</div>
