<!DOCTYPE html>
<html>
<head>
  <title>MusicConcert2</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<% flash.each do |key, value| %>
    	<%= content_tag :div, value, class: "alert alert-info" %>
  	<% end %>

<%= yield %>
 <hr />
<div class = "container">

 	<%= link_to "HOME", "/" %>
 	|
 	<%= link_to "All concerts", concerts_path %>

</div>
</html>
